.nav {
  background: linear-gradient(85.69deg, #2c1853 0%, #8730ba 99.71%);
}

.menu {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  padding: 10px 10px;
  transition-duration: 0.3s;
  cursor: pointer;
}

.link {
  color: #ccc;
  transition-duration: 0.3s;

  &:hover {
    color: #eee;
  }

  &.active {
    color: #fff;
  }
}

.logo {
  padding: 10px;
}
